<div class="tool-bar clearfix">
    <mat-icon class="bg-light float-right mr-3" fxHide="true" fxShow.xs (click)="toggleMenu()" aria-hidden="false"
        aria-label="Menu icon">menu
    </mat-icon>
    <div class="large-nav" *ngIf="showMenu" fxLayout="row" fxLayout.xs="column" color="">
        <div class="item">
            <a routerLink="/core-report" routerLinkActive="active">
                <span>Core <br>Report
                </span>
            </a>
        </div>
        <div class="item">
            <a routerLink="/lines-inventory" routerLinkActive="active">
                <span>Lines <br>Inventory
                </span>
            </a>
        </div>

        <div class="item">
            <a routerLink="/line-utilisation" routerLinkActive="active">
                <span>Line Utilisation <br>Report
                </span>
            </a>
        </div>

        <div class="item">
            <a routerLink="/line-underutilisation" routerLinkActive="active">
                <span>Line under <br>% utilisation
                </span>
            </a>
        </div>

        <div class="item">
            <a routerLink="/Usage-report" routerLinkActive="active">
                <span>Usage report <br>By User
                </span>
            </a>
        </div>

        <div class="item">
            <a routerLink="/Users-by-location" routerLinkActive="active">
                <span>Usage By <br>Location
                </span>
            </a>
        </div>

        <div class="item">
            <a routerLink="/devices-by-system" routerLinkActive="active">
                <span>Devices per <br>System
                </span>
            </a>
        </div>

        <div class="item">
            <a routerLink="/location" routerLinkActive="active">
                <span>Location
                </span>
            </a>
        </div>

        <div class="item">
            <a routerLink="/connections" routerLinkActive="active">
                <span>Connections
                </span>
            </a>
        </div>
    </div>

</div>