.tool-bar {
    height: 75px;
    background-color: #6B7077;
    padding: 10px 0px;

    .header-nav-holder {
        width: 97%;
        margin: 0 auto;

        a {
            color: #fff;
        }
    
        .active {
            color: #50aaee;
        }
    
        .large-nav {
            display: flex;
            justify-content: space-around;
        }
    }
}

@media(max-width: 760px){
    .tool-bar {
        padding-left: 20px;
        height: auto;
        a {
            display: block;
            border-top: 1px solid;
            padding: 10px;
            width: 60%;
        }
    }
}