<div class="top-header">
    <div class="rowe">
        <div class="cogl-6">
            <div class="flex">
                <div class="">
                    <h2 class="ml-5">Welcome in Reports</h2>
                </div>
            </div>

        </div>
        <div class="cogl-6">
            <div class="flex">
                <div class="">
                    <h2 class="ml-5">23:01:59 Thursday 09.01.2019, UK</h2>
                </div>
                <div class="">
                    <mat-icon class="ml-5" aria-hidden="false" aria-label="Settings icon">settings</mat-icon>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="login-page" fxLayoutAlign="center center" fxFlexFill>
    <mat-card fxFlex="25">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image">
                <mat-icon class="ml-5" aria-hidden="false" aria-label="Last page icon">last_page</mat-icon>
            </div>
            <mat-card-title>
                Login
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <form fxLayoutAlign="stretch" fxLayout="column">
                <mat-form-field>
                    <mat-label>Login or e-mail address</mat-label>
                    <input matInput placeholder="Iggy@pop.com">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Password</mat-label>
                    <input matInput placeholder="12345@kW">
                </mat-form-field>
            </form>
            <div class="btn-holder">
                <button mat-raised-button class="mr-2 login-btn"> Cancel</button>
                <button mat-raised-button class="mr-2 login-btn">Login</button>
            </div>

        </mat-card-content>
    </mat-card>
</div>