.dates{
    overflow: hidden;
    .duration {
        margin-top: 30px;
    }

    ::ng-deep {
        .no-text{display: none;}
    
        .mat-calendar-table-header th {
            color: #50aaee;
        }
    
        .mat-form-field {
            margin-top: -10px;
            width: 100%;
        }

        .mat-input-element {
            background: #fff;
            border-radius: 20px;
            opacity: 0.6;
        }
    
        .mat-form-field-infix {
            padding: initial !important
        }
    
        .mat-form-field-underline {
            display: none !important;
        }
    
        .mat-radio-button {
            padding: 5px;
        }
    
        .date-label {
            display: block;
            padding-bottom: 0;
            margin-bottom: 0;
            color: gray;
        }
    }
}


 