.top-header {
    height: 70px;
    overflow: hidden;
    padding: 20px 60px;
    background-color: #3F444D;
    color: #fff;

    .header-row {
        display: flex;
        justify-content: space-between;
    }
    .flex {
        display: flex;
    }

    .mat-icon {
        margin-top: 5px;
    }

    .pi {
        padding: 5px 20px;
    }
    .show-icon:hover {
        cursor: pointer;
        color: #50AAEE;
    }

    
}

@media(max-width: 760px){
    .top-header {
        padding: inherit;
    }
}