.top-header {
    height: 75px;
    overflow: hidden;
    padding: 20px 60px;
    background-color: #3F444D;
    color: #fff;

    .rowe {
        display: flex;
        justify-content: space-between;
    }
    .flex {
        display: flex;
    }

    .mat-icon {
        margin-top: 5px;
    }

    
}

@media(max-width: 760px){
    .top-header {
        padding: inherit;
    }
}