<div class="top-header">
    <div class="header-row">
        <div class="cogl-6">
            <div class="flex">
                <div class="">
                    <mat-icon class="show-icon" *ngIf="showIcon" (click)="onMenuClick()" aria-hidden="false"
                        aria-label="Menu icon">menu
                    </mat-icon>
                    <mat-icon class="show-icon" *ngIf="!showIcon" (click)="onMenuClick()" aria-hidden="false"
                        aria-label="Clear icon">
                        clear</mat-icon>
                </div>
                <div class="">
                    <h2 class="ml-5">Firm Name</h2>
                </div>
            </div>

        </div>
        <div class="cogl-6">
            <div class="flex">
                <div class="">
                    <h2 class="ml-5">
                        <year-date-display></year-date-display>
                    </h2>
                </div>
                <div class="">
                    <i class="pi pi-cog"></i>
                </div>
                <div class="">
                    <i class="pi pi-sign-out"></i>
                </div>
            </div>
        </div>
    </div>
</div>