.no-of-location-holder {
    img {
        width: 100%;
        margin: 0 -15px 0 -15px;
    }

    .figure {
        display: flex;
        justify-content: center;
        p {
            font-size: 30px;
            font-weight: 800;
        }
        .total {
            color: gray;
            font-size: initial;
            font-weight: initial;
        }
    }

    .data {
        margin-bottom: 20px;
    }


    ::ng-deep {
        .mat-form-field-infix {
            width: 110px !important;
            background: transparent;
            padding: initial !important;
        }
    }
}