.no-of-location-holder {
    img {
        width: 100%;
        margin: 0 -15px 0 -15px;
    }

    .data {
        margin-bottom: 20px;
    }


    ::ng-deep {
        .mat-form-field-infix {
            width: 110px !important;
            background: transparent;
            padding: initial !important;
        }
    }
}